[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markovify = "*"
lyricsgenius = "*"
wikipedia-api = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.7"
